@model ApplicationUser
@inject IFollowService followService
@inject IPostService postService

<div class="user-info">
    <img class="user-profile-img" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Image" style="width:150px; height:150px;">
    <h5 class="user-username" style="font-size:40px">
        @Model.UserName      
    </h5>
</div>

@{
    int followersCount = await followService.GetUserFollowersCountAsync(Model.Id);
    bool isUserFollowed = await followService.IsProfileFollowedByUserAsync(Model.Id, User.Id());

    <h5>@followersCount followers</h5>

    if (isUserFollowed)
    {
        <button class="unfollow-btn">Unfollow</button>
    }

    else
    {
        <button class="follow-btn">Follow</button>            
    }
}
