@model ApplicationUser

<div class="user-info">
    <img class="user-profile-img" src="data:image/png;base64,@Model.ProfileImage" alt="Image">
    <h5 class="user-username">@Model.UserName</h5>
</div>