@model ApplicationUser
@inject IFollowService followService
@inject IPostService postService

<div class="user-info">
    <img class="user-profile-img" src="data:image/png;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Image" style="width:150px; height:150px;">
    <h5 class="user-username" style="font-size:40px">
        @Model.UserName      
    </h5>
</div>

@{
    int followersCount = await followService.GetUserFollowersCountAsync(Model.Id);

    <h5 class="followers-text">@followersCount followers</h5>

    if (Model.Id != User.Id())
    {
        bool isUserFollowed = await followService.IsProfileFollowedByUserAsync(Model.Id, User.Id());
        string followBtnText = "";

        if (isUserFollowed)
        {
            followBtnText = "Unfollow";
        }

        else
        {
            followBtnText = "Follow";
        }

        <button class="follow-btn" data-follower-id="@User.Id()" data-user-id="@Model.Id">@followBtnText</button>
    }    

    var posts = await postService.GetPostsForPageAsync(Model.Id, true, 1);

    foreach (var post in posts.Posts)
    {
        <partial name="_PostPartial" model="post" />
    }
}
