html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.post-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-bottom: solid gray;
    background-color: #fff;
}

    .post-container img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 15px;
    }
.post-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
    .post-buttons-link img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .post-buttons-link span {
        margin-right: 10px;
    }

.post-details h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post-details p {
    font-size: 1rem;
    color: #888;
    margin-bottom: 20px;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

    .user-info .user-profile-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user-info .user-username {
        font-weight: bold;
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }
.reaction-form {
    position: relative;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    white-space: nowrap;
    width: 350px;
    height: 50px;
}


.post-buttons-link:hover .reaction-form {
    display: block;
}

.reaction-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
}


.like-container {
    position: relative;
    display: inline-block;
}
.like-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    display: flex;
    text-decoration: none;
}

.post-comment {
    display: flex;
    align-items: center;
}
.comment-button {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: blue;
    font-weight: bold;
}
.last-comment {
    display: flex;
    align-items: center;
}

.favorite-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
}

.all-comments-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
}

.comments-content {
    background-color: #fefefe;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    margin: 40px 0 10px 10%;
}

.all-likes-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
}

.likes-variant-btn {
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    width: 60px;
    height: 60px;
    margin-right: 3%;
}

.follow-btn {
    border-color: white;
    background: lightcoral;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    width: 100px;
    height: 40px;
}

.unfollow-btn {
    border-color: white;
    background: gray;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    width: 100px;
    height: 40px;
}