<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buntu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Buntu.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
    </header>

    @{
        if (User?.Identity?.IsAuthenticated == true)
        {
            <aside class="nav-menu-btns">
                <a class="nav-menu-link" asp-action="Home" asp-controller="Post">Home</a><br />
                <a class="nav-menu-link" asp-action="Search" asp-controller="User">Search</a><br />
                <a class="nav-menu-link" asp-action="Notifications" asp-controller="Post">Notifications</a><br />
                <a class="nav-menu-link" asp-action="Add" asp-controller="Post">Create</a><br />
                <a class="nav-menu-link" asp-action="Profile" asp-controller="User" asp-route-username="@User.Identity.Name">Profile</a>
            </aside>
        }
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>   

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Buntu
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
