@inject UserManager<ApplicationUser> userManager
@inject INotificationService notificationService

@{
    var user = await userManager.FindByIdAsync(User.Id());
    int notCount = await notificationService.GetUnreadNotificationsCountAsync(User.Id());

    <aside class="land-nav-menu-btns">
        <img src="~/images/menubuttons/Logo.png" style="width:80%;" />

        <div class="land-nav-btns">
            <a class="nav-menu-link" asp-action="Home" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Home.png" />Home</a>
            <a class="nav-menu-link" asp-action="Search" asp-controller="User"><img class="nav-menu-link-img" src="~/images/menubuttons/Search.png" />Search</a>
            <a class="nav-menu-link" asp-action="Notifications" asp-controller="User">
                <img class="nav-menu-link-img" src="~/images/menubuttons/Bell.png" />
                Notifications
                @{
                    if (notCount > 0)
                    {
                        <img class="nav-menu-link-img" style="width:13px; height: 13px" src="~/images/menubuttons/Circle.png" />
                    }
                }
            </a>
            <a class="nav-menu-link" asp-action="Liked" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Heart.png" />Liked</a>
            <a class="nav-menu-link" asp-action="Favorites" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Favorite.png" />Saved</a>
            <a class="nav-menu-link" asp-action="Add" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Create.png" />Create</a>
            <a class="nav-menu-link" asp-action="Profile" asp-controller="User" asp-route-username="@User?.Identity?.Name"><img class="nav-menu-link-img" src="data:image/png;base64,@Convert.ToBase64String(user.ProfileImage)">Profile</a>
        </div>
        
        <div style="margin-top:400px">
            <a class="nav-menu-link" asp-action="Logout" asp-controller="User">Logout</a>
        </div>
    </aside>

    <div class="port-nav-btns">
        <a class="nav-menu-link" asp-action="Home" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Home.png" /></a>
        <a class="nav-menu-link" asp-action="Search" asp-controller="User"><img class="nav-menu-link-img" src="~/images/menubuttons/Search.png" /></a>
        <a class="nav-menu-link" asp-action="Notifications" asp-controller="User">
            <img class="nav-menu-link-img" src="~/images/menubuttons/Bell.png" />            
            @{
                if (notCount > 0)
                {
                    <img class="nav-menu-link-img" style="width:13px; height: 13px" src="~/images/menubuttons/Circle.png" />
                }
            }
        </a>
        <a class="nav-menu-link" asp-action="Liked" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Heart.png" /></a>
        <a class="nav-menu-link" asp-action="Favorites" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Favorite.png" /></a>
        <a class="nav-menu-link" asp-action="Add" asp-controller="Post"><img class="nav-menu-link-img" src="~/images/menubuttons/Create.png" /></a>
        <a class="nav-menu-link" asp-action="Profile" asp-controller="User" asp-route-username="@User?.Identity?.Name"><img class="nav-menu-link-img" src="data:image/png;base64,@Convert.ToBase64String(user.ProfileImage)"></a>
    </div>
}