@model PostFormModel

<input type="hidden" asp-for="@Model.Id" />
<div class="form-group">
    <input asp-for="Content" class="form-control" placeholder="I just bought a new car...">
    <span asp-validation-for="Content" class="small text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="Status">How do you feel?</label>
    <select asp-for="Status" class="form-control">
        @foreach (var category in Model.Statuses)
        {
            <option value="@category">@category</option>
        }
    </select>
    <span asp-validation-for="Status" class="small text-danger"></span>
</div>
<br />
<label>Image:</label>
<input type="file" name="ImageFile" accept="image/*" />


<div class="text-center">
    <input class="btn mt-3" style="background: lightcoral; color:white" type="submit" value="@ViewBag.OperationValue" />
</div>
