@model PostFormModel
@{
    ViewBag.Title = "Add Post";
    ViewBag.OperationValue = "Publish";
}

<br />
<h3 class="text-start">Tell the world what's new with you</h3><hr />

<form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
    <partial name="_PostFormPartial" model="@Model" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}